@* psiExplain Template File *@
@()
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading panel-title" >
                <a data-toggle="collapse">AQI空氣品質指標的定義</a>
            </div>
            <div class="panel-body panel-collapse in">
                <div id="content">
                    <span id="labContent"><h1>空氣品質指標</h1>
                        <div class="html-content">
                            <p>
                                將當日空氣中臭氧 (O3)、細懸浮微粒 (PM2.5)、懸浮微粒 (PM10)、一氧化碳 (CO)、二氧化硫 (SO2) 及二氧化氮 (NO2) 濃度等數值，以其對人體健康的影響程度，分別換算出不同污染物之副指標值，再以當日各副指標之最大值為該測站當日之空氣品質指標值 (AQI)。
                            </p>
                            <img src="/assets/images/new_aqi.jpg" alt="空氣品質指標(AQI)計算方式" style="width: 100%; height: auto;">
                            <ol>
                                <li>一般以臭氧 (O3) 8 小時值計算各地區之空氣品質指標 (AQI)。但部分地區以臭氧 (O3) 小時值計算空氣品質指標 (AQI) 是更具有預警性，在此情況下，臭氧 (O3) 8 小時與臭氧 (O3) 1 小時之空氣品質指標 (AQI) 則皆計算之，取兩者之最大值作為空氣品質指標 (AQI)。</li>
                                <li>空氣品質指標 (AQI) 301 以上之指標值，是以臭氧 (O3) 小時值計算之，不以臭氧(O3) 8 小時值計算之。</li>
                                <li>空氣品質指標 (AQI) 200 以上之指標值，是以二氧化硫 (SO2) 24 小時值計算之，不以二氧化硫 (SO2) 小時值計算之。</li>
                            </ol>
                            <h2>即時空氣品質指標 (即時 AQI)</h2>
                            <p>
                                為提供預警參考，本部發布即時空氣品質指標 (AQI) 值，並提供每小時監測數據，而即時空氣品質指標 (AQI) 計算方式如下：
                                各測項即時濃度依下列公式計算後，再對應下表得出 O3、PM2.5、PM10、CO、SO2、 NO2 等 6 個測項之即時副指標值，再取出其中最大值為即時空氣品質指標，該最大值測項即為指標污染物：
                            </p>
                            <ul>
                                <li>O<sub>3_8h</sub>：取最近連續 8 小時移動平均值 (例如今日上午10 點發布的 O3的 8 小時濃度平均值，是取今日上午 2 點至上午 9 點監測數據的平均值。）</li>
                                <li>O<sub>3</sub>： 取即時濃度值</li>
                                <li>PM<sub>2.5</sub>：0.5 × 前 12 小時平均 + 0.5 × 前 4 小時平均 (前 4 小時 2 筆有效，前 12 小時 6 筆有效）</li>
                                <li>PM<sub>10</sub> ：0.5 × 前 12 小時平均 + 0.5 × 前 4 小時平均 (前 4 小時 2 筆有效，前 12 小時 6 筆有效）</li>
                                <li>CO： 取最近連續 8 小時移動平均值 (例如今日上午 10 點發布的 CO 的 8 小時濃度平均值，是取今日上午 2 點至上午 9 點監測數據的平均值。）</li>
                                <li>SO<sub>2</sub>：取即時濃度值</li>
                                <li>SO<sub>2_24h</sub>：取最近連續 24 小時濃度平均值 (例如今日上午 10 點發布的 SO2 的 24 小時濃度平均值，是取前 1 天上午 10 點至今日上午 9 點監測數據的平均值。）</li>
                                <li>NO<sub>2</sub>：取即時濃度值</li>
                            </ul>
                            <p>
                                備註：
                                PM<sub>2.5</sub> 移動平均值有效位數為小數點以下第 1 位，會取到小數點以下第 2 位採四捨五入方式進位，O3 的 8 小時移動平均值及 PM10 移動平均值有效位數為整數位，會取到小數點以下第 1 位，採四捨五入方式進位。
                            </p>
                            <ul>
                                <li>一般以臭氧 (O<sub>3</sub>) 8 小時值計算各地區之空氣品質指標 (AQI)。但部分地區以臭氧 (O3) 小時值計算空氣品質指標 (AQI) 是更具有預警性，在此情況下，臭氧 (O<sub>3</sub>) 8 小時與臭氧 (O<sub>3</sub>) 1 小時之空氣品質指標 (AQI) 則皆計算之，取兩者之最大值作為空氣品質指標 (AQI)。</li>
                                <li>空氣品質指標 (AQI) 301 以上之指標值，是以臭氧 (O<sub>3</sub>) 小時值計算之，不以臭氧 (O<sub>3</sub>) 8 小時值計算之。</li>
                                <li>空氣品質指標 (AQI) 200 以上之指標值，是以二氧化硫 (SO<sub>2</sub>) 24 小時值計算之，不以二氧化硫 (SO<sub>2</sub>) 小時值計算之。</li>
                            </ul>
                        </div>
                    </span>
                    <div id="content-module">
                        <p class="footText">更新日期：2025/01/01</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>